$black: #000000;
$white: #ffffff;

// text
$charcoal: #403f3d;
$champagne-rose: #e1d4c9;
$faded_rose: #b0907a;

// background
$alabaster: #e1d4c9;
$taupe: #665f55;
$old-black: #292826;
$dark-charcoal: #403f3d;
$exremely-dark: #292826;

// border
$bone: #c1b6ad;
$granite_gray: #665f55;

:root {
  --text-primary: #{$charcoal};
  --text-inverse: #{$champagne-rose};
  --text-accent: #{$faded_rose};

  --bg-page: #{$alabaster};
  --bg-container: #{$white-pure};
  --bg-overlay: #{rgba($overlay-light, 0.8)};

  --border-primary: #{$bone};
  --border-inverse: #{$granite_gray};
}

html.dark-theme {
  --text-primary: #{$champagne-rose};
  --text-inverse: #{$champagne-rose};
  --text-accent: #{$faded_rose};

  --bg-page: #{$old-black};
  --bg-container: #{$dark-charcoal};
  --bg-overlay: #{rgba($old-black, 0.8)};

  --border-primary: #{$granite_gray};
  --border-inverse: #{$bone};
}
