.header {
  padding: 1.25rem 0 0.313rem 0;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &__logo-container {
    display: flex;
    justify-content: flex-start;
  }

  &__nav-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__logo-img {
    width: 6.25rem;
    height: auto;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: center;

    &-item {
      display: inline-flex;
      flex-direction: column;
      gap: 0.25rem;
      font-weight: 600;
      font-size: 1rem;
      line-height: 150%;
      color: var(--text-primary);
      text-decoration: none;

      &:hover {
        .header__nav-line {
          width: 100%;
        }
      }
    }

    &-line {
      display: block;
      width: 0;
      height: 0.125rem;
      background-color: var(--text-primary);
      transition: width 0.3s ease-in-out;
    }
  }

  &__buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: flex-end;
  }

  &__button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    background: none;
    border: 0.063rem solid var(--border-primary);
    border-radius: 6.25rem;
    padding: 0.25rem;
  }

  &__togle-icon {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__togle-light {
    width: 2.25rem;
    height: 2.25rem;
  }

  &__togle-dark {
    width: 1.125rem;
    height: 1.125rem;
  }


  &__button-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;

    &:hover {
      .header__button-line {
        width: 100%;
      }
    }
  }

  &__button-line {
    display: block;
    width: 0;
    height: 0.125rem;
    background-color: var(--text-primary);
    transition: width 0.3s ease-in-out;
  }

  &__button-menu {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
      width: max-content;
    align-items: center;

    img {
      width: 1.25rem;
      height: 1.25rem;
      display: block;
    }

    p {
      margin: 0;
      font-weight: 600;
      font-size: 1rem;
      line-height: 150%;
      color: var(--text-primary);
    }
  }
}
